// Konfigurasi untuk npm
registry=https://registry.npmjs.org/
// Konfigurasi untuk GitHub Packages
@KaitoDeCode:registry=https://npm.pkg.github.com/
// Token autentikasi untuk npm (ganti YOUR_NPM_TOKEN dengan token npm Anda)
//_authToken=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
// Token autentikasi untuk GitHub Packages (ganti YOUR_GITHUB_TOKEN dengan token GitHub Anda)
//registry.npm.pkg.github.com/:_authToken=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